In [21]:
import pandas as pd

In [22]:
ppm = pd.read_csv('../dataset/ppm.csv').PPM
year = pd.read_csv('../dataset/temp.csv').Year
temp = pd.read_csv('../dataset/temp.csv')['Degrees C']

In [23]:
full_set = pd.concat([ppm, year, temp], axis=1)

In [24]:
full_set

       PPM  Year  Degrees C
0      NaN  1958       0.06
1   315.98  1959       0.03
2   316.91  1960      -0.03
3   317.64  1961       0.06
4   318.45  1962       0.03
..     ...   ...        ...
59  406.76  2017       0.92
60  408.72  2018       0.84
61  411.66  2019       0.97
62  414.24  2020       1.02
63  416.45  2021       0.84

[64 rows x 3 columns]

In [15]:
full_set.to_csv('../dataset/fullset.csv', index=False)